#inp{
    background: darkslategrey;
    text-align: center;
}
#orange{
    text-align: center;
    color : white;
    background: #FF5733;

}
#yello{
    background: #FFD433;
    color: #FFD433;
    
}
#purp{
    color: white;
    text-align: center;
    background: purple;
}
#cyan{
    color: white;
    text-align: center;
    background: cornflowerblue;
}
#Tt{
    color: #FFD433;
    text-align: center;
}
#justObey{
    color: black;
    
    background: transparent;
}
#t1{
    color: black;
    font-size: medium;
    font-weight: bold;
}
#whito{
    color : white;
    background: white;
}
#t2{
    color: white;
    font-weight: bold;
}